<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Global -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="femsa_global_provider" xsi:type="object">DigitalFemsa\Payments\Model\Ui\ConfigProvider</item>
                <!-- Embed Form -->
                <item name="femsa_ef_provider" xsi:type="object">DigitalFemsa\Payments\Model\Ui\EmbedForm\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Femsa Config -->
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="digitalfemsarouter" xsi:type="array">
                    <item name="class" xsi:type="string">DigitalFemsa\Payments\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">22</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- // Femsa Config // -->

    <type name="DigitalFemsa\Payments\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>

    <!-- // Femsa Checkout Variables // -->
    <virtualType name="DigitalFemsa\Payments\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">femsacheckoutconfig</argument>
        </arguments>
    </virtualType>
    <type name="DigitalFemsa\Payments\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">DigitalFemsa\Payments\Model\Session\Storage</argument>
        </arguments>
    </type>
</config>
