
<fieldset data-bind="attr: {class: 'fieldset payment items threeds_checkout ' + getCode(), id: 'threeds_checkout' + getCode()}">
    
    <!-- ko if: femsaError -->
    <div class="femsa-message">
        <div class="femsa-message-header">
            <div class="femsa-payment-logo">
            </div>
            <p class="femsa-message-title">Femsa - Paga con  efectivo</p>
        </div>
        
        <div data-bind="text: femsaError" class="femsa-message-content">
        </div>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: femsaError -->
    <div data-bind="ifnot: femsaError" id="femsaIframeContainer"
         style="width: 800px; height: 1000px; margin-left: auto; margin-right: auto;"
        
    >
    </div>
    <!-- /ko -->
</fieldset>

